:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --speed-animation: 250ms;
  --animation-type: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-color: #757575;
  --primari-logo-color: #000000;
  --primari-social-color: #afb1b8;
  --secondary-social-color: #ffffff;
  --bold-color: #212121;
  --black-color: #000000;
  --white-color: #ffffff;
  --footer-color-contact: rgba(255, 255, 255, 0.6);
  --modal-border-color: rgba(33, 33, 33, 0.2);
  --modal-coment-color: rgba(117, 117, 117, 0.5);
  --scry-sc-darck-tm-bg: rgba(255, 255, 255, 0.1);
  --secondary-bg-color: #2f303a;
  --commands-bg-color: #f5f4fa;
  --bg-botton: #f5f4fa;
  --cards-bg-color: #eeeeee;
  --prymary-bg-color: #ffffff;
  --cards-bg-hover-img: rgba(33, 150, 243, 0.9);
  --header-bottom-border-color: #ececec;
  --modal-backdrop: rgba(0, 0, 0, 0.2);
  --doing-text-bg-cards: rgba(47, 48, 58, 0.8);
  --accent-color: #2196f3;
  --hover-btn: #188ce8;
}

.checkbox__svg, .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subscription-btn, .clients__link, .features__title, .features__icon, .data-modal-close, .checkbox, .social__link, .social {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-color);
  background-color: var(--prymary-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a,
button:focus-visible {
  outline: none;
}

textarea {
  resize: none;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.icon {
  fill: currentColor;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.data-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  background-color: var(--modal-backdrop);
  overflow-y: scroll;
  transition: opacity var(--speed-animation) var(--animation-type), visibility var(--speed-animation) var(--animation-type);
}
.data-modal.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  transition: background-color var(--speed-animation) var(--animation-type), box-shadow var(--speed-animation) var(--animation-type);
}
.btn:hover, .btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--hover-btn);
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  color: var(--bold-color);
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    color: var(--bold-color);
  }
}

.logo {
  display: block;
  font-family: var(--secondary-font);
}
@media screen and (max-width: 1199px) {
  .logo {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.logo__web {
  color: var(--accent-color);
}
.logo--theme-white {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--primari-logo-color);
}
@media (min-width: 1200px) {
  .logo--theme-white {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
    letter-spacing: 0.03em;
    color: var(--primari-logo-color);
  }
}
.logo--theme-dark {
  justify-content: center;
  margin-bottom: 20px;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
@media (min-width: 1200px) {
  .logo--theme-dark {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
    letter-spacing: 0.03em;
    color: var(--white-color);
  }
}

.visually-hidden {
  position: absolute;
  border: 0;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

@media screen and (max-width: 1199px) {
  .social-container {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social-container {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .social-container {
    margin-left: 70px;
  }
}
.social-container__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .social-container__title {
    display: flex;
    justify-content: center;
  }
}

.social {
  gap: 10px;
}
.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color var(--speed-animation) var(--animation-type), background-color var(--speed-animation) var(--animation-type);
}

.social__link--dark-theme {
  background-color: var(--scry-sc-darck-tm-bg);
}
.social__link--dark-theme:hover, .social__link--dark-theme:focus {
  background-color: var(--accent-color);
}

.social__link--white-theme {
  color: var(--primari-social-color);
}
.social__link--white-theme:hover, .social__link--white-theme:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.social__svg--white-theme {
  fill: currentColor;
}
.social__svg--dark-theme {
  fill: var(--white-color);
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--header-bottom-border-color);
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 93px;
  }
}
.navigation__list {
  display: flex;
  padding: 0;
  margin-left: auto;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--bold-color);
  transition: color var(--speed-animation) var(--animation-type);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}
.navigation__link--current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  margin-bottom: -1px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    margin-right: 0;
    margin-left: auto;
  }
  .contact__item:not(:last-child) {
    margin-right: 50px;
  }
}
.contact__link {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color var(--speed-animation) var(--animation-type);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__link {
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: inherit;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    justify-content: center;
    align-items: center;
    padding: 32px 0;
  }
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}
.contact__icon {
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .contact__icon {
    margin-right: 10px;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: var(--white-color);
  transform: translateX(100%);
  transition: transform var(--speed-animation) var(--animation-type);
}
.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 48px 40px;
}

.menu-toggle {
  height: 40px;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--bold-color);
  transition: fill var(--speed-animation) var(--animation-type);
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover, .menu-toggle:focus {
  color: var(--accent-color);
}
.menu-toggle--close {
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu-toggle__icon {
  fill: currentColor;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--bold-color);
  transition: color var(--speed-animation) var(--animation-type);
}
.mobile-menu__link--current {
  color: var(--accent-color);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-contact {
  margin-bottom: 64px;
}

.mobile-contact__item.tel {
  margin-bottom: 32px;
}

.mobile-contact__link.tel {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-contact__link.mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.mobile-social {
  display: flex;
  flex-wrap: wrap;
}
.mobile-social__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-social__border {
  margin-left: 10px;
  margin-right: 10px;
  border: 0.1px solid var(--modal-border-color);
  transform: rotate(90deg);
}

.hero {
  text-align: center;
  padding: 118px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--secondary-bg-color);
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding: 200px 0;
    margin: 0 auto;
  }
}
.hero__title {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  color: var(--white-color);
  text-transform: uppercase;
}
.hero__btn {
  padding: 10px 32px;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile@2x.jpg);
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet@2x.jpg);
  }
}
@media (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop@2x.jpg);
  }
}

body.modal-open {
  overflow: hidden;
}

.modal {
  position: absolute;
  width: 94vw;
  height: auto;
  padding: 40px;
  margin: 90px 15px;
  margin: auto;
  border-radius: 4px;
  background-color: var(--prymary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--speed-animation) var(--animation-type);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 451px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal__header {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--bold-color);
}
@media screen and (min-width: 1200px) {
  .modal__header {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--bold-color);
  }
}

.input-fields {
  width: 100%;
}

.forms-input {
  position: relative;
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-bottom: 10px;
}
.forms-input--comment {
  margin-bottom: 20px;
}
.forms-input__title {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: inherit;
}
.forms-input__icon {
  position: absolute;
  top: 50%;
  margin-left: 12px;
  fill: var(--bold-color);
  transition: fill var(--speed-animation) var(--animation-type);
}

.forms-input__window-input {
  height: 40px;
  margin: 0;
  padding: 0;
  padding-left: 42px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid var(--modal-border-color);
  transition: border var(--speed-animation) var(--animation-type), fill var(--speed-animation) var(--animation-type);
}
.forms-input__window-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.forms-input__window-input:focus ~ .forms-input__icon {
  fill: var(--accent-color);
}

.forms-input__text {
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  transition: border var(--speed-animation) var(--animation-type);
}
.forms-input__text:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.forms-input__text::placeholder {
  font-size: 12px;
  font-weight: inherit;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--modal-coment-color);
}

.checkbox {
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: inherit;
}
@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
    color: inherit;
  }
}
.checkbox__icon {
  position: relative;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--bold-color);
  border-radius: 2px;
  transition: background-color var(--speed-animation) var(--animation-type), border-color var(--speed-animation) var(--animation-type);
}
.checkbox__input:checked + .checkbox__icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.checkbox__link {
  text-decoration-skip-ink: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .checkbox__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
}

.data-modal.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-btn {
  padding: 10px 56px;
  margin-top: 30px;
}

.data-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: transparent;
}
.data-modal-close:hover .modal-svg, .data-modal-close:focus .modal-svg {
  fill: var(--accent-color);
}
.data-modal-close .modal-svg {
  fill: var(--black-color);
  transition: fill var(--speed-animation) var(--animation-type);
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.features__icon {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: var(--bg-botton);
}
.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: var(--bold-color);
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .features__title {
    justify-content: start;
  }
}
.features__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.doing {
  padding-top: 0;
}
@media (max-width: 1199px) {
  .doing {
    display: none;
  }
}
.doing__title {
  margin-bottom: 50px;
}
.doing__list {
  display: flex;
  margin: -15px;
}
.doing__item {
  position: relative;
  display: block;
  width: calc((100% - 90px) / 3);
  margin: 15px;
}
.doing__image {
  width: 100%;
}
.doing__text {
  position: absolute;
  display: block;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-transform: uppercase;
  background-color: var(--doing-text-bg-cards);
}

.commands {
  background-color: var(--commands-bg-color);
}
.commands__title {
  margin-bottom: 50px;
}
.commands__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .commands__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.commands__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--prymary-bg-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .commands__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .commands__item {
    width: calc((100% - 90px) / 4);
  }
}

.employee-data {
  padding: 30px 0;
}
.employee-data__name {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--bold-color);
}
.employee-data__position {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: inherit;
}

.clients__title {
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__svg {
  fill: currentColor;
}

.clients__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--primari-social-color);
  transition: color var(--speed-animation) var(--animation-type), border var(--speed-animation) var(--animation-type);
  color: var(--primari-social-color);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.page-footer {
  justify-content: center;
  padding: 60px 0;
  background-color: var(--secondary-bg-color);
}
.page-footer .container {
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer .container {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (max-width: 1199px) {
  .page-footer__block {
    margin-bottom: 60px;
  }
}

.form-contact__list {
  font-style: normal;
}
@media screen and (min-width: 1200px) {
  .form-contact__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
}
.form-contact__item {
  display: flex;
  justify-content: center;
}
.form-contact__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .form-contact__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.form-contact__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transition: color var(--speed-animation) var(--animation-type);
}
.form-contact__item .form-contact__link:hover, .form-contact__item .form-contact__link:focus {
  color: var(--accent-color);
}
.cnt-mail .form-contact__link, .cnt-tel .form-contact__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--footer-color-contact);
}

@media screen and (min-width: 1200px) {
  .subscription {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 93px;
  }
}
.subscription__title {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-transform: uppercase;
}
.subscription-container {
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .subscription-container {
    display: flex;
  }
}

.subscription-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--footer-color-contact);
  transition: border var(--speed-animation) var(--animation-type);
}
@media screen and (min-width: 768px) {
  .subscription-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-form__input {
    width: 358px;
    margin: 0;
  }
}
.subscription-form__input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.subscription-form__input::placeholder {
  line-height: 1.25;
  color: var(--footer-color-contact);
}

.subscription-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 29px;
}
@media screen and (min-width: 1200px) {
  .subscription-btn {
    margin-left: 12px;
  }
}
.subscription-btn__svg {
  margin-left: 10px;
}

.portfolio__menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  row-gap: 15px;
}
@media screen and (max-width: 767px) {
  .portfolio__menu {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__menu {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__menu {
    margin-bottom: 50px;
  }
}
.portfolio__btn {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--bold-color);
  background: var(--bg-botton);
  transition: color var(--speed-animation) var(--animation-type), background-color var(--speed-animation) var(--animation-type), border-shadow var(--speed-animation) var(--animation-type);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: var(--white-color);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  background: var(--prymary-bg-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cards__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .cards__item {
    width: calc((100% - 60px) / 3);
  }
}
.cards__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow var(--speed-animation) var(--animation-type);
}
.cards__link:hover, .cards__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards__images {
  position: relative;
  overflow: hidden;
}
.cards__text {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translate(0, 100%);
  transition: transform var(--speed-animation) var(--animation-type);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: var(--cards-bg-hover-img);
}
.cards__link:hover .cards__text, .cards__link:focus .cards__text {
  transform: translate(0, 0);
}
.cards__data {
  padding: 20px 24px;
  flex-grow: 1;
  border: 1px solid var(--cards-bg-color);
  border-top: none;
}
.cards__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--bold-color);
}
.cards__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}/*# sourceMappingURL=main.css.map */