.features {
  &__list {
    display: flex;
  }

  &__icon {
    @extend %flex-center;

    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    border-radius: 4px;

    background: var(--bg-botton);
  }

  &__title {
    margin-bottom: 10px;

    @include font(14px, 700, 16px, 1.14, var(--bold-color));
    text-transform: uppercase;
  }

  &__text {
    @include font(14px, 400, 24px, 1.71, inherit);
  }
}

.features__item {
  width: calc((100% - 90px) / 4);
  &:not(:last-child) {
    margin-right: 30px;
  }
}
