.page-footer {
  padding: 60px 0;

  background-color: var(--secondary-bg-color);

  .container {
    display: flex;
    align-items: baseline;
  }
}

.form-contact {
  &__list {
    font-style: normal;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.form-contact__link {
  @include font(14px, 400, 24px, 1.71, var(--white-color));

  transition: color var(--speed-animation) var(--animation-type);

  .form-contact__item &:hover,
  .form-contact__item &:focus {
    color: var(--accent-color);
  }

  .cnt-mail &,
  .cnt-tel & {
    @include font(14px, 400, 24px, 1.71, var(--footer-color-contact));
  }
}

.subscription {
  margin-left: 93px;

  &__title {
    @include font(14px, 700, 16px, 0.03em, var(--white-color));
    text-transform: uppercase;
  }

  &-container {
    display: flex;
    margin-top: 20px;
  }
}

.subscription-form__input {
  width: 359px;
  height: 50px;
  margin: 0;
  padding: 0;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: transparent;
  color: var(--footer-color-contact);

  transition: border var(--speed-animation) var(--animation-type);

  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }

  &::placeholder {
    line-height: 1.25;

    color: var(--footer-color-contact);
  }
}

.subscription-btn {
  @extend %flex-center;

  padding: 10px 29px;
  margin-left: 12px;

  &__svg {
    margin-left: 10px;
  }
}
