.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--header-bottom-border-color);
}

.navigation {
  @media screen and (max-width: $to-tablet) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }

  &__list {
    display: flex;

    padding: 0;
    margin-left: auto;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    position: relative;
    display: block;

    padding: 32px 0;

    @include font(14px, 500, 16px, 0.02em, var(--bold-color));

    transition: color var(--speed-animation) var(--animation-type);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    &--current::after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 4px;
      margin-bottom: -1px;

      border-radius: 2px;

      background-color: var(--accent-color);
    }
  }
}

.contact {
  @media screen and (max-width: $to-tablet) {
    display: none;
  }

  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    margin-right: 0;
    margin-left: auto;

    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    display: flex;

    @include font(14px, 500, 16px, 0.02em, inherit);

    transition: color var(--speed-animation) var(--animation-type);

    @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
      align-items: center;
      @include font(12px, 500, 14px, 0.02em, inherit);
    }

    @media screen and (min-width: $desktop) {
      justify-content: center;
      align-items: center;

      padding: 32px 0;
    }

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__icon {
    margin-right: 8px;

    @media screen and (min-width: $desktop) {
      margin-right: 10px;
    }
  }
}
