.hero {
  text-align: center;

  max-width: 1600px;
  padding: 200px 0;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/background-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  background-color: var(--secondary-bg-color);

  &__title {
    margin: 0 237px;
    margin-bottom: 30px;

    @include font(44px, 900, 60px, 0.06em, var(--white-color));
    text-transform: uppercase;
  }

  &__btn {
    padding: 10px 32px;
  }
}
