.portfolio {
  &__menu {
    @extend %flex-center;

    margin-bottom: 56px;
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__btn {
    padding: 6px 22px;

    border: none;
    border-radius: 4px;

    font-family: inherit;
    @include font(16px, 500, 26px, 0.03em, var(--bold-color));

    background: var(--bg-botton);

    transition: color var(--speed-animation) var(--animation-type),
      background-color var(--speed-animation) var(--animation-type),
      border-shadow var(--speed-animation) var(--animation-type);
  }

  &__btn:hover,
  &__btn:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);

    background-color: var(--accent-color);
    color: var(--white-color);
  }
}

.cards {
  display: flex;

  flex-wrap: wrap;

  &__item {
    width: calc((100% - 60px) / 3);

    background: var(--prymary-bg-color);
  }

  &__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  &__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }

  &__link {
    display: block;

    transition: box-shadow var(--speed-animation) var(--animation-type);
  }

  &__link:hover,
  &__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__images {
    position: relative;

    overflow: hidden;
  }

  &__text {
    position: absolute;
    top: 1px;

    width: 100%;
    height: 100%;
    padding: 63px 24px;
    transform: translate(0, 100%);

    transition: transform var(--speed-animation) var(--animation-type);

    @include font(18px, 400, 28px, 0.03em, var(--white-color));

    background-color: var(--cards-bg-hover-img);
  }

  &__link:hover &__text,
  &__link:focus &__text {
    transform: translate(0, 0);
  }

  &__data {
    padding: 20px 24px;

    border: 1px solid var(--cards-bg-color);
    border-top: none;
  }

  &__title {
    margin-bottom: 4px;

    @include font(18px, 700, 36px, 0.06em, var(--bold-color));
  }

  &__description {
    @include font(16px, 400, 30px, 0.03em, var(--primary-color));
  }
}
