.portfolio {
  &__menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    row-gap: 15px;

    @media screen and (max-width: $to-tablet) {
      margin-bottom: 40px;
    }

    @media screen and (min-width: $tablet) {
      justify-content: center;
      margin-bottom: 30px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 50px;
    }
  }

  &__btn {
    padding: 6px 22px;

    border: none;
    border-radius: 4px;

    font-family: inherit;
    @include font(16px, 500, 26px, 0.03em, var(--bold-color));

    background: var(--bg-botton);

    transition: color var(--speed-animation) var(--animation-type),
      background-color var(--speed-animation) var(--animation-type),
      border-shadow var(--speed-animation) var(--animation-type);
  }

  &__btn:hover,
  &__btn:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);

    background-color: var(--accent-color);
    color: var(--white-color);
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;

  background: var(--prymary-bg-color);

  &__item {
    @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
      max-width: 354px;
    }

    @media screen and (min-width: $desktop) {
      width: calc((100% - 60px) / 3);
    }
  }

  &__link {
    display: flex;
    flex-direction: column;

    height: 100%;

    transition: box-shadow var(--speed-animation) var(--animation-type);
  }

  &__link:hover,
  &__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__images {
    position: relative;

    overflow: hidden;
  }

  &__text {
    position: absolute;
    top: 0px;

    width: 100%;
    height: 100%;
    padding: 63px 24px;
    transform: translate(0, 100%);

    transition: transform var(--speed-animation) var(--animation-type);

    @include font(18px, 400, 28px, 0.03em, var(--white-color));

    background-color: var(--cards-bg-hover-img);
  }

  &__link:hover &__text,
  &__link:focus &__text {
    transform: translate(0, 0);
  }

  &__data {
    padding: 20px 24px;

    flex-grow: 1;

    border: 1px solid var(--cards-bg-color);
    border-top: none;
  }

  &__title {
    margin-bottom: 4px;

    @include font(18px, 700, 36px, 0.06em, var(--bold-color));
  }

  &__description {
    @include font(16px, 400, 30px, 0.03em, var(--primary-color));
  }
}
