.social-container {
  // justify-content: center;

  @media screen and (max-width: $to-desktop) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    display: inline-block;
  }

  @media screen and (min-width: $desktop) {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: start;
    margin-left: 70px;
  }

  &__title {
    margin-bottom: 20px;

    @include font(14px, 700, 16px, 0.03em, var(--white-color));
    text-transform: uppercase;

    @media screen and (max-width: $to-desktop) {
      display: flex;
      justify-content: center;
    }
  }
}

.social {
  @extend %flex-center;

  gap: 10px;

  &__link {
    @extend %flex-center;

    width: 44px;
    height: 44px;

    border-radius: 50%;

    transition: color var(--speed-animation) var(--animation-type),
      background-color var(--speed-animation) var(--animation-type);
  }
}

.social__link--dark-theme {
  background-color: var(--scry-sc-darck-tm-bg);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social__link--white-theme {
  color: var(--primari-social-color);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
  }
}

.social__svg {
  &--white-theme {
    fill: currentColor;
  }
  &--dark-theme {
    fill: var(--white-color);
  }
}
